.pexels-rodnae-productions-5737-icon {
  position: relative;
  width: 517px;
  height: 336.78px;
  flex-shrink: 0;
  object-fit: cover;
}
.share-your-culinary {
  margin: 0;
}
.share-your-culinary-container,
.submit-your-favorite-container {
  position: relative;
  display: inline-block;
  width: 682px;
}
.submit-your-favorite-container {
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}
.headline1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.btn-upload-item {
  width: 51px;
  height: 51px;
  flex-shrink: 0;
}
.btn-upload-item,
.upload-my-own {
  position: relative;
}
.btn-upload1 {
  border-radius: var(--br-98xl);
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-34xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}
.right1,
.upload-recipe-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-28xl);
}
.upload-recipe-div {
  width: 1281px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-99xl);
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
