.rectangle-div {
  position: relative;
  background-color: var(--color-gainsboro-200);
  width: 46px;
  height: 46px;
  flex-shrink: 0;
}
.mealbuddy5 {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
}
.btn-logo3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4xl);
}
.login6,
.search3 {
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.search3 {
  border: 0.5px solid var(--color-black);
  background-color: var(--color-gainsboro-100);
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  width: 334px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-11xl);
  align-items: center;
  justify-content: flex-start;
}
.login6 {
  position: relative;
  color: var(--white);
  text-align: left;
}
.login5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-36xl);
  background-color: var(--color-indianred);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.hamburger-child3 {
  position: relative;
  border-top: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 55px;
  height: 5px;
  flex-shrink: 0;
}
.hamburger-child4 {
  position: relative;
}
.hamburger2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mini);
}
.nav-bar3,
.nav-items2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-items2 {
  justify-content: flex-start;
  gap: var(--gap-36xl);
}
.nav-bar3 {
  width: 1279px;
  justify-content: space-between;
}
